*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

__pycache__
djangoRS/appRS/__pycache__/
djangoRS/appRS/migrations/
djangoRS/djangoRS/secrets.json
djangoRS/appRS/static/tour_img

rsvenv/
db.py

.idea/
tour_img/