#app{
    /*position: absolute;*/
    /*bottom: 17.4%;*/
    /*left: 5.7%;*/
    font-size: 4.9vw;
    font-weight: 600;
    /*font-family: 'Kanit', sans-serif;*/
    color: #393939;
    letter-spacing: 1px;
}
#app::after{
    content: "";
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 3px;*/
    background-color: #393939;
    bottom: -10%;
    left: 0
}
body{
    background-color: #F0E5DE;
    font-family: 'Gowun Dodum', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}


/*#banner {*/
/*    padding: 10em 2em 8em;*/
/*}*/

/*#banner h2 {*/
/*    font-size: 2.25em;*/
/*}*/

/*#banner p {*/
/*    font-size: 1.25em;*/
/*}*/


#banner {
    background: url("../images/overlay.png"), url("../images/가산수피아1.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    /*padding: 16em 0em 14em;*/
    text-align: center;
    padding: 15em 2em 0em;
    height: 80vh;
    transition: ease 2s;
}

#banner h2 {
    color: #ffffff;
    font-family:  'Bitter', serif;
    font-size: 3.25em;
    font-weight: 400;
    line-height: 1em;
    margin: 12vh 0 1em 0;
    padding: 0;
}

#banner p {
    font-size: 1em;
    margin: 3.5em 0 0 0;
}

#banner .actions {
    margin: 3em 0 0 0;
    cursor: default;
    list-style: none;
    padding-left: 0;
}
#banner .actions li{
    margin: 1em 0 0 0;
}
/*ul.actions {*/
/*    cursor: default;*/
/*    list-style: none;*/
/*    padding-left: 0;*/
/*}*/

/* 1001 #banner 지움 */
.button {
    background-color: transparent;
    border: 1px solid #ffffff;
    font-weight: 300;

    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    /*background-color: #3ba666;*/

    border-radius: 4px;
    /*border: 0;*/
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 2.85em;
    line-height: 2.8em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

#banner .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
/*input placer holder 색상 설정 */
input::-ms-input-placeholder { color: #ffffff; }
input::-webkit-input-placeholder { color: #ffffff; }
input::-moz-placeholder { color: #ffffff; }
input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    outline: none
}

input.username {
    border: none;
    height: 2.85em;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1em;
    text-align: center;
    color: white;
}
input{
    font-family: 'Gowun Dodum', sans-serif;
}
/* Button */

/*input[type="submit"],*/
/*input[type="reset"],*/
/*input[type="button"],*/
/*.button {*/
/*    -moz-appearance: none;*/
/*    -webkit-appearance: none;*/
/*    -o-appearance: none;*/
/*    -ms-appearance: none;*/
/*    appearance: none;*/
/*    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;*/
/*    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;*/
/*    -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;*/
/*    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;*/
/*    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;*/
/*    background-color: #3ba666;*/
/*    border-radius: 4px;*/
/*    border: 0;*/
/*    color: #ffffff !important;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    font-weight: 400;*/
/*    height: 2.85em;*/
/*    line-height: 2.8em;*/
/*    padding: 0 2em;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    white-space: nowrap;*/
/*}*/

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    .button:hover {
        background-color: #42b972;
    }

    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    .button:active {
        background-color: #34935a;
    }

    input[type="submit"].icon,
    input[type="reset"].icon,
    input[type="button"].icon,
    .button.icon {
        padding-left: 1.35em;
    }

        input[type="submit"].icon:before,
        input[type="reset"].icon:before,
        input[type="button"].icon:before,
        .button.icon:before {
            margin-right: 0.5em;
        }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    .button.fit {
        display: block;
        margin: 0 0 1em 0;
        width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    .button.small {
        font-size: 1em;
    }

    input[type="submit"].big,
    input[type="reset"].big,
    input[type="button"].big,
    .button.big {
        font-size: 1.35em;
    }

    input[type="submit"].alt,
    input[type="reset"].alt,
    input[type="button"].alt,
    .button.alt {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
        color: #666 !important;
    }

        input[type="submit"].alt:hover,
        input[type="reset"].alt:hover,
        input[type="button"].alt:hover,
        .button.alt:hover {
            background-color: rgba(144, 144, 144, 0.075);
        }

        input[type="submit"].alt:active,
        input[type="reset"].alt:active,
        input[type="button"].alt:active,
        .button.alt:active {
            background-color: rgba(144, 144, 144, 0.2);
        }

        input[type="submit"].alt.icon:before,
        input[type="reset"].alt.icon:before,
        input[type="button"].alt.icon:before,
        .button.alt.icon:before {
            color: #888;
        }

    input[type="submit"].special,
    input[type="reset"].special,
    input[type="button"].special,
    .button.special {
        background-color: #4dac71;
        color: #ffffff !important;
    }

        input[type="submit"].special:hover,
        input[type="reset"].special:hover,
        input[type="button"].special:hover,
        .button.special:hover {
            background-color: #5cb67e;
        }

        input[type="submit"].special:active,
        input[type="reset"].special:active,
        input[type="button"].special:active,
        .button.special:active {
            background-color: #459a65;
        }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    .button.disabled,
    .button:disabled {
        background-color: #444 !important;
        box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
        color: #fff !important;
        cursor: default;
        opacity: 0.25;
    }


.indexSectionOne{
    padding: 6em 0em 4em;
    margin:0;
    border:0;

}

.indexcontainer{
    margin-left: auto;
    margin-right: auto;
    width:90%;
}

.indexcontainer header, .indexcontainer .address{
    border-bottom: medium double rgba(144, 144, 144, 0.25);
    padding-bottom: 1em;
}
.indexcontainer header{
    margin-bottom: 4em;
    text-align: center;
}

.indexcontainer h2{
    font-size: 1.75em;
    line-height: 1.5em;
    color:#666;
    font-weight: 300;
    margin: 0 0 1em 0;
}
.indexcontainer h3{
    font-size: 1.35em;
    line-height: 1.5em;
    color:#666;
    font-weight: 300;
    margin: 0 0 1em 0;
    cursor: pointer;
}
.indexcontainer h4{
    font-size: 14px;
    line-height: 1.5em;
    color:#666;
    font-weight: 300;
    margin: 0 0 1em 0;
}
.indexcontainer p{
    font-size: 1.25em;
    margin-top: -1em;
    line-height: 1.5em;
    color:#666;
    margin: 0 0 2em 0;
}
.indexcontainer .row p{
    font-size: 17px;
    /*text-overflow: ellipsis;*/
}
/*.indexcontainer .row p .text{*/
/*    text-overflow: ellipsis;*/
/*    -webkit-line-clamp: 2;*/
/*}*/
.indexcontainer .row{
    text-align:center;
    padding-left: 5px;
    border-bottom: solid 1px transparent;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 4%;
    grid-row-gap:2em;
}
@media(min-width:1300px){
    .indexcontainer .row{
        text-align:center;
        padding-left: 5px;
        border-bottom: solid 1px transparent;
        display: grid;
        grid-template-columns: 30.5% 30.5% 30.5%;
        grid-column-gap: 4%;
        grid-row-gap:2em;
    }
    .indexcontainer .image {
        height: 400px;
    }
}
@media(max-width:760px){
    .indexcontainer .row{
        text-align:center;
        padding-left: 5px;
        border-bottom: solid 1px transparent;
        display: contents;
        grid-template-columns: 32% 32% 32%;
        grid-column-gap: 4%;
        grid-row-gap:2em;
    }
}
@media(max-width:380px){
    .indexcontainer .image {
        height: 190px!important;
    }
}
/*.indexcontainer .feature{*/
/*    text-align:center;*/
/*    display: grid;*/
/*    grid-template-rows: 35% 10% 10% 40%;*/
/*}*/

.indexcontainer .image.fit{
    display: block;
    margin: 0 0 2em 0;
    width: 100%;

}
.indexcontainer .image{
    border-radius: 4px;
    border: 0;
    display: inline-block;
    position: relative;
    padding: 0;
    text-align: center;
    height: 300px;
    /*height: 43%;*/
    /*width:auto;*/
}
.indexcontainer .latitude{
    display: none;
}
.indexcontainer .longitude{
    display: none;
}

.button2.down.anchored{
    background-image: url("../images/dark-arrow.svg");
    /*border-color: #ffffff;*/

    bottom: -15px;
    /*border-bottom: 0;*/
    /*border-radius: 3em 3em 0 0;*/
    height: 4.5em;
    margin-left: -2em;
    background-color: transparent;
    /*border: solid 2px #e5e6e7;*/
    color: rgba(255, 255, 255, 0);
    position: absolute;
    left: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: 2.3em;
    overflow: hidden;

    transition: background-color 0.2s ease-in-out;
}
.button2.style2:hover{
    background-color: rgba(229, 230, 231, 0.25);
}


/* Footer */
	#footer {
        background: #202222;
        color: #888;
        padding: 6em 0em 4em;
    }

		#footer h2, #footer h3, #footer h4 {
			color: #ffffff;
		}

		#footer a {
			-moz-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			color: #888;
		}

			#footer a:active, #footer a:hover {
				color: #ffffff;
			}

		#footer .icons .rounded {
			border-color: #888;
			font-size: 1.5em;
		}

			#footer .icons .rounded:active, #footer .icons .rounded:hover {
				border-color: #ffffff;
			}

		#footer .copyright {
			font-size: 0.9em;
			margin: 2em 0 0 0;
			padding: 0;
			text-align: center;
		}

			#footer .copyright li {
				border-left: solid 1px rgba(144, 144, 144, 0.25);
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;
			}

				#footer .copyright li:first-child {
                    border-left: 0;
                    margin-left: 0;
                    padding-left: 0;
                }

#footer .row{
    padding-left: 5px;
    border-bottom: solid 1px transparent;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 4%;
    grid-row-gap:2em;
    /*footer*/
    text-align: left;
}
@media(min-width:1300px){
    #footer .row{
        padding-left: 5px;
        border-bottom: solid 1px transparent;
        display: grid;
        grid-template-columns: 30.5% 30.5% 30.5%;
        grid-column-gap: 4%;
        grid-row-gap:2em;
        /*footer*/
        text-align: left;
    }
    #footer .image {
        height: 400px;
    }
}
@media(max-width:760px){
    #footer .row{
        text-align:center;
        padding-left: 5px;
        border-bottom: solid 1px transparent;
        display: contents;
        grid-template-columns: 32% 32% 32%;
        grid-column-gap: 4%;
        grid-row-gap:2em;
        /*footer*/
        text-align: left;
    }
}
#footer ul{
    list-style: none;
}
#footer ul.alt {
    padding-left: 0;
}
#footer .alt li:first-child {
    border-top: 0;
    padding-top: 0;
}
#footer ul.alt li {
    border-top: solid 1px rgba(144, 144, 144, 0.25);
    padding: 0.8em 0;
}
#footer .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#footer .icon {
    font-size: 1.5em;
}
#footer .icon > .label {
    display: none;
}
#footer ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}
#footer section {
    padding-left: 5%;
}
