/* 상태바 */
.prog{
   width: 240px;
   background: #6666668c;
   margin: 1.5em auto 0 auto;
}
.progs{
    width: 33.3%;
    height: 16px;
    background: #666666;
    color:#fff;
    text-align: center;
    line-height: 50px;
    transition: ease-out 0.5s;
}

#formId{
   text-align: center;
}

#select-btn {
    margin: 2em 0 0 0;
    padding: 0 4em;
    background-color: #666666;
    color: white;
    font-size: 1.2em;
    border-color: #fff;
}

#select-btn:hover{
   background-color: #F0E5DE;
   color:#666666!important;
   border-color:#666666;
}

input[type="radio"] {
   position: absolute;
   opacity: 0;
   width: 0;
   height: 0;
}

/* Header */
header p {
      position: relative;
      margin: 0em 0 0.5em 0;
   }
   header a {
      text-decoration: none;
      color : #666;
   }
   header a h2 {
      font-family: 'Bitter', serif;
      font-size: 3.25em;
      font-weight: 400;
   }
   header h2 + p {
      font-size: 1.25em;
      margin-top: 1em;
      line-height: 1.5em;
   }
   header h3 {
      margin: 1.5em 0 0 0;
   }
header.major {
      text-align: center;
      margin-bottom: 1.5em;
   }

      header.major h2 {
         font-size: 3em;
      }

      header.major p {
         border-top: medium double rgba(144, 144, 144, 0.25);
         display: inline-block;
         padding: 2.5em 1em 0 1em;
         font-size: 1em;
      }

/* Wrapper */

   #wrapper > * > .inner {
      width: 100%;
      max-width: 68em;
      margin: 0 auto;
      /*padding: 0 2.5em;*/
   }

      @media screen and (max-width: 736px) {

         #wrapper > * > .inner {
            /*padding: 0 1.25em;*/
         }

      }
/* Main */

   #main {
      padding: 0em 0 6em 0 ;
   }

      @media screen and (max-width: 736px) {

         #main {
            padding: 0em 0 4em 0 ;
         }

      }
/* Section/Article */
   section.special, article.special {
      text-align: center;
   }

   @media screen and (max-width: 736px) {

      header p {
         margin-top: 0;
      }

   }
/* Image */

   .image {
      border-radius: 4px;
      border: 0;
      display: inline-block;
      position: relative;
   }

      .image img {
         border-radius: 4px;
         display: block;
      }

      .image.left, .image.right {
         max-width: 40%;
      }

         .image.left img, .image.right img {
            width: 100%;
         }

      .image.left {
         float: left;
         padding: 0 1.5em 1em 0;
         top: 0.25em;
      }

      .image.right {
         float: right;
         padding: 0 0 1em 1.5em;
         top: 0.25em;
      }

      .image.fit {
         display: block;
         margin: 0 0 2em 0;
         width: 100%;
      }

         .image.fit img {
            width: 100%;
         }

      .image.main {
         display: block;
         margin: 0 0 3em 0;
         width: 100%;
      }

         .image.main img {
            width: 100%;
         }

         @media screen and (max-width: 736px) {

            .image.main {
               margin: 0 0 2em 0;
            }

         }
/* Tiles */

   .tiles {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      postiion: relative;
      margin: -2.5em 0 0 -2.5em;
   }

      .tiles article {
         -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
         -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
         -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
         transition: transform 0.5s ease, opacity 0.5s ease;
         position: relative;
         width: calc(33.33333% - 2.5em);
         margin: 2.5em 0 0 2.5em;
      }

         .tiles article label> .image {
            -moz-transition: -moz-transform 0.5s ease;
            -webkit-transition: -webkit-transform 0.5s ease;
            -ms-transition: -ms-transform 0.5s ease;
            transition: transform 0.5s ease;
            position: relative;
            display: block;
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
         }

            .tiles article label> .image img {
               display: block;
               width: 100%;
               height: 250px;
            }

            .tiles article label> .image:before {
               pointer-events: none;
               -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
               -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
               -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
               transition: background-color 0.5s ease, opacity 0.5s ease;
               content: '';
               display: block;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               opacity: 1.0;
               z-index: 1;
               opacity: 0.8;
            }

            .tiles article label> .image:after {
               pointer-events: none;
               -moz-transition: opacity 0.5s ease;
               -webkit-transition: opacity 0.5s ease;
               -ms-transition: opacity 0.5s ease;
               transition: opacity 0.5s ease;
               content: '';
               display: block;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               background-position: center;
               background-repeat: no-repeat;
               background-size: 100% 100%;
               opacity: 0.25;
               z-index: 2;
            }

         body:not(.is-touch) .tiles article label:hover > .image {
            -moz-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
         }

            body:not(.is-touch) .tiles article label:hover > .image:before {
               background-color: #333333;
               opacity: 0.35;
            }

            body:not(.is-touch) .tiles article label:hover > .image:after {
               opacity: 0;
            }

            .clicked {
               filter: brightness(50%);
               /*background-color: #333333;*/
               /*opacity: 0.35;*/
            }

         /*body:not(.is-touch) .tiles article:hover .content {*/
         /*   max-height: 15em;*/
         /*   opacity: 1;*/
         /*}*/

      * + .tiles {
         margin-top: 2em;
      }

      body.is-preload .tiles article {
         -moz-transform: scale(0.9);
         -webkit-transform: scale(0.9);
         -ms-transform: scale(0.9);
         transform: scale(0.9);
         opacity: 0;
      }

      body.is-touch .tiles article .content {
         max-height: 15em;
         opacity: 1;
      }

      @media screen and (max-width: 1280px) {

         .tiles {
            margin: -1.25em 2em 0 0.75em;
         }

            .tiles article {
               width: calc(33.33333% - 1.25em);
               margin: 1.25em 0 0 1.25em;
            }

      }
   @media screen and (max-width: 1170px) {

         .tiles {
            margin: -1.25em 1.25em 0 0em;
         }

            .tiles article {
               width: calc(33.33333% - 1.25em);
               margin: 1.25em 0 0 1.25em;
            }

      }
      @media screen and (max-width: 980px) {

         .tiles {
            margin: -2.5em 3em 0 0.5em;
         }

            .tiles article {
               width: calc(50% - 2.5em);
               margin: 2.5em 0 0 2.5em;
            }

      }

      @media screen and (max-width: 736px) {

         .tiles {
            margin: -1.25em 2em 0 0.75em;
         }

            .tiles article {
               width: calc(50% - 1.25em);
               margin: 1.25em 0 0 1.25em;
            }

               .tiles article:hover > .image {
                  -moz-transform: scale(1.0);
                  -webkit-transform: scale(1.0);
                  -ms-transform: scale(1.0);
                  transform: scale(1.0);
               }

      }

      @media screen and (max-width: 480px) {

         .tiles {
            margin: 0 1.5em;
         }

            .tiles article {
               width: 100%;
               margin: 1.25em 0 0 0;
            }
            .tiles article label> .image img {
               display: block;
               width: 100%;
               height: 200px;
            }
      }

